{%load static %}


<nav class="header__nav-wrap">

    <ul class="header__nav">
        <li ><a href="/index" title="">Início</a></li>
        <li class="#0"><a href="/todos" title="">Todos</a></li>
        <li class="has-children">
            <a href="#0" title="">MTA:SA</a>
            <ul class="sub-menu">
            <li><a href="/mtabackups">Backups</a></li>
            <li><a href="/mtascripts">Scripts</a></li>
            <li><a href="/mtaloadscreen">Loadscreen</a></li>
            <li><a href="/mtalogin">Login</a></li>
            <li><a href="/mtaempregos">Empregos</a></li>
            <li><a href="/mtapacks">Packs</a></li>
            <li><a href="/mtamapas">Mapas</a></li>
            <li><a href="/mtapainel">Painéis</a></li>
            <li><a href="/mtavelocimetros">Velocimetros</a></li>
            <li><a href="/mtabases">Bases</a></li>
            <li><a href="/mtaarmas">Armas</a></li>
            <li><a href="/mtacarros">Carros</a></li>
            <li><a href="/mtaaviao">Aviões</a></li>
            <li><a href="/mtamotos">Motos</a></li>
            <li><a href="/mtaroupas">Roupas</a></li>
            <li><a href="/mtaacessorios">Acessórios</a></li>
            <li><a href="/mtacorps">Corporações</a></li>
            <li><a href="/mtafacs">Facções</a></li>
            <li><a href="/mtainventario">Inventários</a></li>
            <li><a href="/mtaconce">Concessionária</a></li>
        </li>
    </ul> <!-- end header__nav -->

  <!-- <li class="has-children">
        <a href="#0" title="">FiveM</a>
        <ul class="sub-menu">
            <li><a href="/fivemall">Todos</a></li>
            <li><a href="/fivembackups">Backups</a></li>
            <li><a href="/fivemscripts">Scripts</a></li>
            <li><a href="/fivemloadscreen">Loadscreen</a></li>
            <li><a href="/fivemlogin">Login</a></li>
            <li><a href="/fivemempregos">Empregos</a></li>
            <li><a href="/fivempacks">Packs</a></li>
            <li><a href="/fivemmapas">Mapas</a></li>
            <li><a href="/fivempainel">Painéis</a></li>
            <li><a href="/fivemvelocimetros">Velocimetros</a></li>
            <li><a href="/fivembases">Bases</a></li>
            <li><a href="/fivemarmas">Armas</a></li>
            <li><a href="/fivemcarros">Carros</a></li>
            <li><a href="/fivemaviao">Aviões</a></li>
            <li><a href="/fivemmotos">Motos</a></li>
            <li><a href="/fivemroupas">Roupas</a></li>
            <li><a href="/fivemcessorios">Acessórios</a></li>
            <li><a href="/fivemcorp">Corporações</a></li>
            <li><a href="/fivemfac">Facções</a></li>
            <li><a href="/fiveminv">Inventários</a></li>
            <li><a href="/fivemconce">Concessionária</a></li>
    </li>--> 
</ul> <!-- end header__nav -->
</nav>