
{% extends "bases/base.html" %}

{% block title %}{% endblock title %}

{% block content %}


<!--search form
<div class="header__search">
      
    <form role="search" method="get" class="header__search-form" action="#">
        <label>
            <span class="hide-content">Pesquisar:</span>
            <input type="search" class="header__search-field" placeholder="Digite Aqui" value="" name="q" title="Search for:" autocomplete="off">
        </label>
        <input type="submit" class="header__search-submit" value="Search">
    </form>

    <a href="#0" title="Close Search" class="header__search-close">Close</a>

</div>--> <!-- end header__search -->

<!-- toggles 
<a href="#0" class="header__search-trigger"></a>-->


{% endblock content %}

